{% extends 'base.html.twig' %}


{% block body %}
    <br>
    <div class="topnav">
  <a class="active" href="{{ path('factura_index') }}">Factura</a>
  <a href="{{ path('factura_new') }}">Nueva factura</a>
  <a href="{{ path('prueba_homepage') }}">Menu Principal</a>
   <a href="{{ path('expediente_index') }}">Menú Expediente</a>
  <a href=>Facturas Impagas</a>
    
</div>
   
   

 {% with {
        array: facturas
    }%}
    {{ block('tableFactura', './factura/tableFactura.twig') }}
    {% endwith %}
  
   

    <th><div class="btn-group btn-group-sm mt-2" role="group" aria-label="Basic example">
                        <a href="{{ path('factura_new') }}" class="btn  btn-primary">Crear nueva factura</a>
                        <a href="{{ path('prueba_homepage') }}" class="btn  btn-secondary"> Volver al menú principal </a>

                    </div>
                </th>
    

{% endblock %}

