{% extends 'base.html.twig' %}

{% block body %}
    <ul>
    <h1>Creación de Factura </h1>

       {#  <div class="mb-3 row"><label for="staticEmail" class="col-sm-2 col-form-label">
                {{ form_start(form) }}
                {{ form_widget(form) }}
            </label>
        </div>   
    {{ form_end(form) }} #}

    

 {% with {'form': form}%}
	{{ block("formBlock", "./blocks/formBlock.twig") }}
	{% endwith %}

    <input type="submit" class="btn btn-sm btn-primary" value="Crear" />
    <a href="{{ path('factura_index') }}" class="btn btn-sm btn-secondary" >Volver al listado</a>
    <a href="{{ path('prueba_homepage') }}" class="btn btn-sm btn-secondary"> Volver al menú principal </a>

          
{% endblock %}
