{% extends 'base.html.twig' %}

{% block body %}
    <ul>
    <h1>Factura creación</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Crear" />
    {{ form_end(form) }}

    <ul>
        <br>
            <a href="{{ path('factura_index') }}">Volver al listado</a>
            <br>
            <a href="{{ path('prueba_homepage') }}">Volver al menú principal</a>

    </ul></ul>
{% endblock %}
