{% extends 'base.html.twig' %}

{% block body %}

<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

<div class="container-fluid">
<div class="row">
    <br>
<div class="topnav bg-body-tertiary">
  <a href="{{ path('factura_index') }}">Factura</a>
  <a href="{{ path('factura_new') }}">Nueva factura</a>
  <a href="{{ path('prueba_homepage') }}">Menu Principal</a>
   <a href="{{ path('expediente_index') }}">Menú Expediente</a>
  <a href="{{ path('factura_impagas') }}">Facturas Impagas</a>
  <a href="{{ path('servicio_pendiente') }}"> Pendientes de pago </a>
 <a class="active"  href="{{ path('reportes') }}">Reporte servicios </a>
 <form class="d-flex" role="search"><input id="buscar" type="search" class="form-control me-2" placeholder="Escribir mes a filtrar" /> </form>

</div>


<table id="tabla" class="table table-sm  table-hover text-center text-dark">
			<thead class="table-tr-bg" style="position: sticky; top: 0; z-index: 1; background: #957fc9" scope="col">
            <tr>
                <th>Num.Referencia</th>
                <th>Tipo servicio</th>
                <th>Ubicación</th>
                <th>Factura</th>
                <th>Expediente</th>
                <th>Período</th>
            </tr>
        </thead>
        <tbody>

        {% for factura in facturas %}
            {% for service in factura.service  %}
            {% if service.estado %}
                    <tr>
                        <td>{{ service.referencia }}</td>
                        <td>{{ service.tipo }}</td>
                        <td>{{ service.direccion }}</td>
                    {% endif %}
                    {% endfor %}
                <td>{{factura.numFactura}}</td>
                {% if factura.expediente|first == 1  %}
                <td>00{{ factura.expediente }}</td>
                {% else %}
                <td>0{{ factura.expediente }}</td>
                {% endif %}
                <td>{% for expediente in expedientes %}
                {% if factura.expediente == expediente %}
                {% if expediente.fechaInicioGestion %}
                <div class="periodo"> {{ expediente.fechaInicioGestion|localizeddate('none', 'none', 'es', 'America/Argentina/Jujuy', 'MMMM Y')}} </div>
            {% endif %}   
                {% endif %} 
                {% endfor %}
                </td>

                
            </tr>
            
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="btn-group btn-group-sm mt-2" role="group" aria-label="Basic example">
                        <a href="#" class="btn  btn-primary" id="reporte">Imprimir reporte</a>
                        <a href="{{ path('prueba_homepage') }}" class="btn  btn-secondary"> Volver al menú principal </a>

                    </div>
    
    </div>
    <script>
    //filtro
            var busqueda = document.getElementById('buscar');
            var table = document.getElementById("tabla").tBodies[0];

                buscaTabla = function(){
                texto = busqueda.value.toLowerCase();
                var r=0;
                while(row = table.rows[r++])
                {
                    if ( row.innerText.toLowerCase().indexOf(texto) !== -1 )
                    row.style.display = null;
                    else
                    row.style.display = 'none';
                    
                }
                }

        busqueda.addEventListener('keyup', buscaTabla);
        const input = document.getElementById('buscar'); //el texto de filtrado
        let reporte = document.getElementById('reporte');
        
         reporte.addEventListener("click", () => { 

            try { //falta intentar validar con que ingrese
            elements = document.querySelectorAll('#tabla tr:not([style*="display:none"]):not([style*="display: none"])'); //la tabla filtrada
            element = (elements[1].querySelector(".periodo")).innerText; //en el primer elemento de la tabla filtrada ( porque el 0 es el titulo) obtengo el periodo
            let filas= [];
            console.log(element);
            console.log(input.value);
            for(let valor of elements){
            console.log(valor.innerText); //aca tengo todos los textos
            filas.push(valor.innerText);
                                    }
            console.log(filas); //tengo la tabla en un arreglo
            

            


            //aca hacer fetch para tirar el PDF



            }
            catch(err){
                alert("Texto no valido");
            }
        });
      
    </script>
{% endblock %}

