{% extends 'base.html.twig' %}

{% block body %}
  <ul>
    <h1>Factura</h1>

    <table class="table table-borderless">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ factura.id }}</td>
            </tr>
            <tr>
                <th>Numero de factura</th>
                <td>{{ factura.numFactura }}</td>
            </tr>
            <tr>
                <th>Fecha de vencimiento</th>
                <td>{% if factura.fechaVencimiento %}{{ factura.fechaVencimiento|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Pago</th>
                <td>{% if factura.pago %}Pagado{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Numero de referencia servicio/s  </th>
                <td>{%for service in factura.service  %}
                 {{ service.referencia }}
                 {% endfor %}</td>
            </tr>

        </tbody>
    </table>

    <ul>

        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="{{ path('factura_edit', { 'id': factura.id }) }}" class="btn btn-outline-primary">Editar </a>

            <a class="btn btn-secondary"></class> {{ form_start(delete_form) }} Eliminar
                {{ form_end(delete_form) }} </a>

            <a href="{{ path('factura_index') }}" class="btn btn-primary active" role="button" aria-pressed="true">Volver al listado</a>
        
             <a href="{{ path('prueba_homepage') }}" class="btn btn-secondary active" role="button" aria-pressed="true">Volver al menú principal</a>
        </div>
 
    </ul>


    </ul>
{% endblock %}
