{% extends 'base.html.twig' %}

{% block body %}
 
    <h1>Factura</h1>

  <div class="table-responsive">
		<table class="table table-sm  mb-3" style="width: 35%" >
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ factura.id }}</td>
            </tr>
            <tr>
                <th>Numero de factura</th>
                <td>{{ factura.numFactura }}</td>
            </tr>
            <tr>
                <th>Periodo de facturacion</th>
                <td>{{ factura.periodo }}</td>
            </tr>
            <tr>
                <th>Fecha de vencimiento</th>
                <td>{% if factura.fechaVencimiento %}{{ factura.fechaVencimiento|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Total factura</th>
                <td>$ {{ factura.total }}</td>
            </tr>
            <tr>
                <th>Pago</th>
                <td>{% if factura.pago %}Pagado{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Numero de referencia servicio/s  </th>
                <td>{%for service in factura.service  %}
                 {{ service.referencia }} -
                 {% endfor %}</td>
            </tr>
            <tr>
                <th>Expediente</th>
                {% if factura.expediente|first == 1  %}
                <td>00{{ factura.expediente }}</td>
                {% else %}
                <td>0{{ factura.expediente }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
     </div >
   

        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
            <a href="{{ path('factura_edit', { 'id': factura.id }) }}" class="btn btn-outline-info">Editar </a>

            <a class="btn btn-outline-info"></class> {{ form_start(delete_form) }} Eliminar
                {{ form_end(delete_form) }} </a>

            <a href="{{ path('factura_index') }}" class="btn btn-outline-info"role="button" aria-pressed="true">Volver al listado</a>
        
             <a href="{{ path('prueba_homepage') }}" class="btn btn-outline-info" role="button" aria-pressed="true">Volver al menú principal</a>
        </div>
 
   


   
{% endblock %}
