{% extends 'baseVista.html.twig' %}

{% block bodyImpresion %}
    <div id="impresion">
     {% if facturas == false %} {# si no hay facturas devuelve este mensaje #}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <h2>No hay facturas relacionadas con este expediente</h2>

            </ul>


        <br><br>
        
            <div class="btn-group">
                    <a href="{{ path('expediente_new') }}" class="btn btn-primary active" aria-current="page">Crear nuevo expediente</a>
                    <a href="{{ path('prueba_homepage') }}" class="btn btn-primary">Volver al menú principal</a>
            </div>

        </nav>

    {% else %}



{% if  facturas[0].service|length > 1  %}  {# si hay mas de un servicio en la factura, arma el cuadro #}
    <div id="impresion">
<br><br><br><br><br><br>
        {% if expediente.numeroExpe|first == 1 %} {# se fija si empieza en 1 porque viene de comunicaciones #}
            <p class="text-end" ><b>Ref.: Expte. Nro 00{{ expediente.numeroExpe }}</b></p>
        {% else %}
        <p class="text-end" ><b>Ref.: Expte. Nro 0{{ expediente.numeroExpe }}</b></p>
        {% endif %}
    <tr>
        <div align="right"> <th>Santa Fe, {{ fecha }} </th></div>


    </tr>
    <br><br><br>
                

<br>


                
            Se Informa que corresponde a la factura nro {% for factura in facturas %} {{ factura }} 
            correspondiente a los servicios detallados en el cuadro siguiente prestados a este Ministerio de Igualdad,Genero y Diversidad,
            y sus dependencias pertenecientes al periodo {{ factura.periodo }} {% endfor %}
<br><br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Numero de referencia</th>
      <th scope="col">Dirección</th>
      <th scope="col">Ciudad</th>
      <th scope="col">Tipo de servicio</th>
    </tr>
  </thead>
        <tbody>
        {% for service in facturas[0].service %}
    <tr>
      <th scope="row"> {{ service.referencia }}</th>
      <td>{{ service.direccion }}</td>
      <td>{{ service.ciudad }}</td>
      <td>{{ service.tipo }}</td>
    </tr>
{% endfor %}
        </tbody>
</table>



    <br><br><br><br><p>    <form action="{{ path('nota_pdf', {'id':expediente.id}) }}">
    <select name="select">
        <option value="Falta indicar hacia donde va el exp." selected>Indicar hacia donde se envia el expediente</option>
        <option value="Pase a la Dir. Gral. de Comunicaciones para su intervención de acuerdo a lo establecido en el decreto 28/00.">     Pase a la Dir. Gral de Comunicaciones para su intervención de acuerdo a lo establecido en el decreto 28/00.</option>
        <option value="Pase a la Secretaría de Planificación y Coordinación Administrativa, Legal y Técnica para la prosecución del trámite.">     Pase a la Secretaría de Planificación y Coordinación Administrativa, Legal y Técnica para la prosecución del trámite.</option>
    </select>
    <button class="btn btn-primary" type="submit">Generar PDF</button>
</form>         
    </p>

    {# aca saque el footer #}
</div>


{% elseif facturas[0].service[0].direccion == "CORRIENTES 2879"  %}  {# si la direccion es la del ministerio usa "este" #}
    <div id="impresion">

<br><br><br><br><br><br>
        {% if expediente.numeroExpe|first == 1 %} {# se fija si empieza en 1 porque viene de comunicaciones #}
            <p class="text-end" ><b>Ref.: Expte. Nro 00{{ expediente.numeroExpe }}</b></p>
        {% else %}
            <p class="text-end" ><b>Ref.: Expte. Nro 0{{ expediente.numeroExpe }}</b></p>
        {% endif %}


        <div align="right"> <th>Santa Fe, {{ fecha }} </th></div>




                <br><br><br>
{% for factura in facturas %}
            Se Informa que corresponde a la factura nro {% for factura in facturas %} {{ factura}} {% endfor %} por el Servicio de {{ factura.service[0].tipo }} del período de
   <b>  {{ factura.periodo }}     </b> 
                prestado por la empresa {{ factura.service[0].compania }} en este
                Ministerio de Igualdad, Género y Diversidad de calle {{ factura.service[0].direccion }}  de la ciudad de {{ factura.service[0].ciudad }}
                con el nro de referencia:  <b> {{ factura.service[0].referencia }} </b> {% endfor %}
            <td> </td>.








    <br><br><p>

            

        <p class="text-center"> <select name="select">
        <option value="value1" selected>Indicar hacia donde se envia el expediente</option>
        <option value="value2">     Pase a la Dir. Gral de Comunicaciones para su intervención de acuerdo a lo establecido en el decreto 28/00.</option>
        <option value="value3">     Pase a la Secretaría de Planificación y Coordinación Administrativa, Legal y Técnica para la prosecución del trámite.</option>
                                </select>
        </p></p>







    </body>
    </div>
{% else %} {# si tiene un servicio y es una dependencia arma este #}
    <br><br><br><br><br><br>
    {% if expediente.numeroExpe|first == 1 %} {# se fija si empieza en 1 porque viene de comunicaciones #}
        <p class="text-end" ><b>Ref.: Expte. Nro 00{{ expediente.numeroExpe }}</b></p>
    {% else %}
        <p class="text-end" ><b>Ref.: Expte. Nro 0{{ expediente.numeroExpe }}</b></p>
    {% endif %}
    </tr>
    <tr>
        <div align="right"> <th>Santa Fe, {{ fecha }} </th></div>


    </tr>

                <br><br><br>
{% for factura in facturas %}
            Se Informa que corresponde a la factura nro {% for factura in facturas %} {{ factura}} {% endfor %} por el Servicio de {{ factura.service[0].tipo }} del período de
   <b>  {{ factura.periodo }}     </b> 
                prestado por la empresa {{ factura.service[0].compania }} en la dependecia de este
                Ministerio de Igualdad, Género y Diversidad de calle {{ factura.service[0].direccion }}  de la ciudad de {{ factura.service[0].ciudad }}
                con el nro de referencia:  <b> {{ factura.service[0].referencia }} </b>  {% endfor %}
         .








    <br><br><p>   <p class="text-center"> 
    <form action="{{ path('nota_pdf', {'id':expediente.id}) }}">
    <select name="select">
        <option value="Falta indicar hacia donde va el exp." selected>Indicar hacia donde se envia el expediente</option>
        <option value="Pase a la Dir. Gral. de Comunicaciones para su intervención de acuerdo a lo establecido en el decreto 28/00.">     Pase a la Dir. Gral de Comunicaciones para su intervención de acuerdo a lo establecido en el decreto 28/00.</option>
        <option value="Pase a la Secretaría de Planificación y Coordinación Administrativa, Legal y Técnica para la prosecución del trámite.">     Pase a la Secretaría de Planificación y Coordinación Administrativa, Legal y Técnica para la prosecución del trámite.</option>
    </select>
    <button class="btn btn-primary" type="submit">Generar PDF</button>
</form>
    </p></p>
     {% endif %}
     {% endif %}
    </div>


{% endblock %}