{% extends 'base.html.twig' %}
{% block body %}

     {% if facturas == false %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <h2>No hay facturas relacionadas con este expediente</h2>

            </ul>

            <div align="center">
            <div class="btn-group">
                    <a href="{{ path('expediente_new') }}" class="btn btn-primary active" aria-current="page">Crear nuevo expediente</a>
                    <a href="{{ path('prueba_homepage') }}" class="btn btn-primary">Volver al menú principal</a>
            </div>
            </div>
        </nav>


    {% else %}
<p>
<div align="center"><img src="/imagenes/logo.png" height="50"></div>
<div align="center"> Secretaría de Estado de Igualdad y Género
    <br>Gobierno de la Provincia de Santa Fe</div>

    <br>
        <p class="text-end" ><b>Ref.: Expte. Nro 0{{ expediente.numeroExpe }}</b></p>
    </tr>
    <tr>
        <div align="right"> <th>Santa Fe, 21 de Enero de 2021 </th></div>

    </tr>
    <tr>
        <br><br>
        <p class="text-center"><th>Se Informa que corresponde a la factura nro 00004-01885400  por el Servicio de {{ servicio.tipo }} del
            período de <b>febrero de 2021</b> prestado por la empresa {{ servicio.compania }} dependencia de esta
            Secretaría de Estado de Igualdad y Género de calle {{ servicio.direccion }}  de la ciudad de {{ servicio.ciudad }}
            con el nro de referencia:</th>
        <td>{{ expediente.service }}</td></tr>

        <div class="dropdown">
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {% for factura in facturas %}
                <a class="dropdown-item" href="#">{{ factura.numFactura }}</a></li>
            </ul>
            {% endfor %}
        </div>



    <br><br>  Pase a la Dir. Gral de Comunicaciones para su intervención de acuerdo a lo establecido en el decreto 28/00.</p>



    <footer  style="width:100%; margin-left: 0px;"  >


    <div class="Informatica-SEIyG" style="background-color: #0d47a1;">
        <div class="container-fluid" style="background-color: #0d47a1; color: #bbdefb;">
           <div align="center" <i><b>Sectorial de Informática - Secretaría de Estado de Igualdad y Género</b>
                <br>Corrientes 2879 . (3000) Santa Fe - Tel: (0342) 4572888 -</i>
            </div>
        </div>
    </div></footer>
</html>
     {% endif %}
{% endblock %}