{% extends 'baseVista.html.twig' %}
{% block bodyImpresion %}
    <div id="impresion">

    {% if  facturas[0].service | length > 1  %}  {# hay mas de un servicio y mas de una factura #}


        {% if expediente.numeroExpe|first == 1 %} {# se fija si empieza en 1 porque viene de comunicaciones #}
            <p class="text-end" ><b>Ref.: Expte. Nro 00{{ expediente.numeroExpe }}</b></p>
        {% else %}
            <p class="text-end" ><b>Ref.: Expte. Nro 0{{ expediente.numeroExpe }}</b></p>
        {% endif %}
        <div align="right"> <th>Santa Fe, {{ fecha }} </th></div>


        <br><br>
        <br><br><br>
        Se Informa los siguientes servicios que fueron prestados a este Ministerio de Igualdad, Genero y Diversidad, y sus dependencias,
        en el siguiente cuadro:

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Factura nº</th>
                <th scope="col">Periodo</th>
                <th scope="col">Numero de referencia</th>
                <th scope="col">Dirección</th>
                <th scope="col">Ciudad</th>
                <th scope="col">Tipo de servicio</th>
                <th scope="col">Compañia</th>
            </tr>
            </thead>
            {% for factura in expediente.facturas %}
                <tr>
        <th scope="row">        {{ factura.numFactura }} </th>
        <td>                    {{ factura.periodo }}</td>

                    {% for servicio in factura.service %}
        <td>              {{ servicio.referencia }} </td>
        <td>               {{ servicio.direccion }} </td>
        <td>               {{ servicio.ciudad }} </td>
                        </tr>
                    {% endfor %}

            {% endfor %}
    </table>





    {% else %} {# hay varias facturas pero un solo servicio por factura #}


    <br><br><br><br><br><br>
        {% if expediente.numeroExpe|first == 1 %} {# se fija si empieza en 1 porque viene de comunicaciones #}
            <p class="text-end" ><b>Ref.: Expte. Nro 00{{ expediente.numeroExpe }}</b></p>
        {% else %}
            <p class="text-end" ><b>Ref.: Expte. Nro 0{{ expediente.numeroExpe }}</b></p>
        {% endif %}


        <div align="right"> <th>Santa Fe, {{ fecha }} </th></div>





        <br><br> 


                <br><br><br>
                Se Informa los siguientes servicios que fueron prestados a este Ministerio de Igualdad, Genero y Diversidad, y sus dependencias,
    en el siguiente cuadro:

        <br><br><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Factura nº</th>
        <th scope="col">Periodo</th>
      <th scope="col">Numero de referencia</th>
      <th scope="col">Dirección</th>
      <th scope="col">Ciudad</th>
      <th scope="col">Tipo de servicio</th>
      <th scope="col">Compañia</th>
    </tr>
  </thead>
        
        {% for factura in facturas %}
    <tr>
      <th scope="row"> {{ factura.numFactura }}</th>
        <td>{{ factura.periodo }}</td>
      <td> {{ factura.service[0].referencia }}</td>
      <td>{{ factura.service[0].direccion }}</td>
      <td>{{ factura.service[0].ciudad }}</td>
      <td>{{ factura.service[0].tipo }}</td>
      <td>{{ factura.service[0].compania }}</td>
      
    </tr>

{% endfor %}
</table>



    <br><br><p>    <select name="select">
        <option value="value1" selected>Indicar hacia donde se envia el expediente</option>
        <option value="value2">Pase a la Dir. Gral de Comunicaciones para su intervención de acuerdo a lo establecido en el decreto 28/00.</option>
        <option value="value3">Pase a la Secretaría de Planificación y Coordinación Administrativa, Legal y Técnica para la prosecución del trámite.</option>
    </select>
    </p>


    {% endif %}

</div>
{% endblock %}