{% extends 'base.html.twig' %}

{% block body %}
    <ul>

    <h1>Expedientes</h1>

    <table class="table table-borderless">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero de expediente</th>
                <th>Referencia de servicio</th>
                <th>Estado</th>

            </tr>
        </thead>
        <tbody>
        {% for expediente in expedientes %}
            <tr>
                <td><a href="{{ path('expediente_show', { 'id': expediente.id }) }}">{{ expediente.id }}</a></td>
                <td>{{ expediente.numeroExpe }}</td>
                <td>{{  expediente.service }}</td>
                <td>{{ expediente.estado }}</td>
                <td>
                    <th>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="{{ path('expediente_show', { 'id': expediente.id }) }}" class="btn btn-outline-primary">ver</a>
                        <a href="{{ path('expediente_edit', { 'id': expediente.id }) }}" class="btn btn-secondary"> editar </a>
                        <a href="{{ path('expediente_imprimir', { 'id': expediente.id }) }}" class="btn btn-light"> imprimir </a>
                    </div></th>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>

            <a href="{{ path('expediente_new') }}">Crear nuevo expediente</a>
            <a href="{{ path('prueba_homepage') }}">Volver al menú principal</a>
    </ul>
    </ul>
{% endblock %}
