{% extends 'base.html.twig' %}

{% block body %}

<div class="topnav">
  <a class="active" href="{{ path('expediente_index') }}">Expediente</a>
  <a href="{{ path('expediente_new') }}">Nuevo expediente</a>
  <a href="{{ path('prueba_homepage') }}">Menu Principal</a>
  </div>
    
   
   {{ block('tablaExpediente', './expediente/tablaExpediente.twig') }}


    <th><div class="btn-group btn-group-sm mt-2" role="group" aria-label="Basic example">
                        <a href="{{ path('expediente_new') }}" class="btn btn-primary">Crear nuevo expediente</a>
                        <a href="{{ path('prueba_homepage') }}" class="btn btn-secondary"> Volver al menú principal </a>

                    </div>
                </th>
    
  
{% endblock %}

