{% extends 'base.html.twig' %}

{% block body %}
   
    <h1>Expediente</h1>

  <div class="table-responsive ">
			<table class="table table-sm  mb-3" style="width: 35%" >
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ expediente.id }}</td>
            </tr>
            <tr>
                <th>Numero de expediente</th>
                <td>{{ expediente.numeroExpe }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ expediente.estado }}</td>
            </tr>
            <tr>
                <th>Factura</th>
                <td>{% for factura in expediente.facturas %}
                {{ factura.numFactura }}
                {% endfor %}</td>
            </tr>
            {% if expediente.fechaInicioGestion %}
             <tr>
                <th>Fecha de inicio</th>
                <td>{{ expediente.fechaInicioGestion|date("m/d/Y") }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

 

            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
            <a href="{{ path('expediente_edit', { 'id': expediente.id }) }}" class="btn  btn-outline-info">Editar </a>

            <a class="btn  btn-outline-info"></class> {{ form_start(delete_form) }} Eliminar
                {{ form_end(delete_form) }} </a>

            <a href="{{ path('expediente_index') }}" class="btn  btn-outline-info " role="button" >Volver al listado</a>
        
             <a href="{{ path('prueba_homepage') }}" class="btn  btn-outline-info " role="button">Volver al menú principal</a>
        </div>
 
{% endblock %}
