{% extends 'base.html.twig' %}

{% block body %}
    <ul>
    <h1>Expediente</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ expediente.id }}</td>
            </tr>
            <tr>
                <th>Numero de expediente</th>
                <td>{{ expediente.numeroExpe }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ expediente.estado }}</td>
            </tr>
            <tr>

            </tr>
        </tbody>
    </table>

    <ul>

            <a href="{{ path('expediente_index') }}">Volver al listado</a>

            <a href="{{ path('expediente_edit', { 'id': expediente.id }) }}">Editar</a>

            {{ form_start(delete_form) }}
                <br>
                 <input type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
    </ul>
    </ul>
{% endblock %}
