{% extends 'base.html.twig' %}

{% block body %}
    <ul>
    <h1>Expediente</h1>

    <table class="table table-borderless">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ expediente.id }}</td>
            </tr>
            <tr>
                <th>Numero de expediente</th>
                <td>{{ expediente.numeroExpe }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ expediente.estado }}</td>
            </tr>
            <tr>
                <th>Factura</th>
                <td>{% for factura in expediente.facturas %}
                {{ factura.numFactura }}
                {% endfor %}</td>
            </tr>
        </tbody>
    </table>

    <ul>

            <div class="btn-group" role="group" aria-label="Basic example">
            <a href="{{ path('expediente_edit', { 'id': expediente.id }) }}" class="btn btn-outline-primary">Editar </a>

            <a class="btn btn-secondary"></class> {{ form_start(delete_form) }} Eliminar
                {{ form_end(delete_form) }} </a>

            <a href="{{ path('expediente_index') }}" class="btn btn-primary active" role="button" aria-pressed="true">Volver al listado</a>
        
             <a href="{{ path('prueba_homepage') }}" class="btn btn-secondary active" role="button" aria-pressed="true">Volver al menú principal</a>
        </div>
    </ul>
    </ul>
{% endblock %}
