{% extends 'base.html.twig' %}


{% block body %}
    <ul>
    <h1>Servicios </h1>


        <table class="table table-borderless">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero de referencia</th>
                <th>Compañia</th>
                <th>Tipo servicio</th>
                <th>Num telefono</th>
                <th>Dirección</th>
                <th>Ciudad</th>
                <th><th>Acciones</th></th>
            </tr>
        </thead>
        <tbody>
        {% for servicio in servicios %}
            <tr>
                <td><a href="{{ path('servicio_show', { 'id': servicio.id }) }}">{{ servicio.id }}</a></td>
                <td>{{ servicio.referencia }}</td>
                <td>{{ servicio.compania }}</td>
                <td> {{ servicio.tipo }}</td>
                <td> {{ servicio.numTelefono }}</td>
                <td>{{ servicio.direccion }}</td>
                <td>{{ servicio.ciudad }}</td>
                <td>
                    <th><div class="btn-group" role="group" aria-label="Basic example">
                        <a href="{{ path('servicio_show', { 'id': servicio.id }) }}" class="btn btn-outline-primary">ver</a>
                        <a href="{{ path('servicio_edit', { 'id': servicio.id }) }}" class="btn btn-secondary"> editar </a>

                    </div></th>




                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <br>

            <a href="{{ path('servicio_new') }}">Alta servicio</a>
            <a href="{{ path('prueba_homepage') }}">Volver al menú principal</a>

    </ul>

    </ul>
{% endblock %}

