{% extends 'base.html.twig' %}



{% block body %}
<div class="topnav">
  <a class="active" href="{{ ('servicio') }}">Servicios</a>
  <a href="{{ path('servicio_new') }}">Nuevo servicio</a>
  <a href="{{ path('prueba_homepage') }}">Menu Principal</a>
  <a href="{{ ('factura') }}">Menu Factura</a>


</div>
   
  
        <div class="table-responsive borderRad dataTable" id="full_table" style="max-height: 62vh; ">

		<table class="table table-sm  table-hover text-center text-dark">
			<thead class="table-tr-bg" style="position: sticky; top: 0; z-index: 1; background: #957fc9" scope="col">
            <tr>
                <th>Id</th>
                <th>Numero de referencia</th>
                <th>Compañia</th>
                <th>Tipo servicio</th>
                <th>Num telefono</th>
                <th>Dirección</th>
                <th>Ciudad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for servicio in servicios %}
            <tr >
                <td><a href="{{ path('servicio_show', { 'id': servicio.id }) }}">{{ servicio.id }}</a></td>
                <td>{{ servicio.referencia }}</td>
                <td>{{ servicio.compania }}</td>
                <td> {{ servicio.tipo }}</td>
                <td> {{ servicio.numTelefono }}</td>
                <td >{{ servicio.direccion }}</td>
                <td>{{ servicio.ciudad }}</td>
                <td>
                   <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <a href="{{ path('servicio_show', { 'id': servicio.id }) }}"class="btn btn-outline-info">ver</a>
                        <a href="{{ path('servicio_edit', { 'id': servicio.id }) }}" class="btn btn-outline-info"> editar </a>

                    </div>




                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

   


<div class="btn-group btn-group-sm mt-2" role="group" aria-label="Basic example">
            <a href="{{ path('servicio_new') }}" class="btn btn-primary active" role="button" aria-pressed="true">Alta servicio </a>
        
             <a href="{{ path('prueba_homepage') }}" class="btn btn-secondary active" role="button" aria-pressed="true">Volver al menú principal</a>
        </div>


    </ul>

    </ul>

    

{% endblock %}

